@model FCoreApp.Models.News

@{
    ViewData["Title"] = "Details";
}

<h1 class="text-info text-center py-3">Details</h1>

<div class="container">
    <hr />
    <dl class="row">
        <dt class="col-sm-3"></dt>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class="col-sm-4">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class="col-sm-3"></dt>
        <dt class="col-sm-3"></dt>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd class="col-sm-4">
            @Html.DisplayFor(model => model.Date)
        </dd>
        <dt class="col-sm-3"></dt>
        <dt class="col-sm-3"></dt>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Image)
        </dt>
        <dd class="col-sm-4">
            @Html.DisplayFor(model => model.Image)
        </dd>
        <dt class="col-sm-3"></dt>
        <dt class="col-sm-3"></dt>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Topic)
        </dt>
        <dd class="col-sm-4">
            @Html.DisplayFor(model => model.Topic)
        </dd>
        <dt class="col-sm-3"></dt>
        <dt class="col-sm-3"></dt>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Category)
        </dt>
        <dd class="col-sm-4">
            @Html.DisplayFor(model => model.Category.Name)
        </dd>
        <dt class="col-sm-3"></dt>
    </dl>
    <div class="text-center py-3">
        <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary">Edit</a> |
        <a asp-action="Index" class="btn btn-secondary">Back to List</a>
    </div>
</div>
