@model IEnumerable<FCoreApp.Models.News>

@{
    ViewData["Title"] = "Index";
}

<div class="px-3">

    <p class="py-3 h3 text-center">
        <a asp-action="Create" class="btn btn-info">Create a new News</a>
    </p>
    <table class="table table-bordered table-striped table-hover">
        <thead>
            <tr>
                <th style="width:20%">
                    @Html.DisplayNameFor(model => model.Title)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Date)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Image)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Topic)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Category)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Title)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Date)
                    </td>
                    <td>
                        <img src="~/Images/News/@item.Image" width="100" height="100" />
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Topic)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Category.Name)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-primary mb-2 mr-1" style="font-size:20px;"><i class="icofont-edit icofont-1x"></i></a> 
                        <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-secondary mb-2 mr-1" style="font-size:20px;"><i class="icofont-info-circle icofont-1x"></i></a> 
                        <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger" style="font-size:20px;"><i class="icofont-delete icofont-1x"></i></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    </div>